<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>

    <!-- <h1>Dashboard</h1> -->
    <nav class="navbar">
        <div class="navbar__container">
            <div class="navbar__center">
                <span class="navbar__name">Dashboard</span>
            </div>
        </div>
    </nav>
    <div class="containerr">

        <div class="select-period">
            <label for="startDate">From:</label>
            <input type="date" id="startDate" name="startDate" value="<?php echo date('Y-m-d'); ?>">
            <label for="endDate">To:</label>
            <input type="date" id="endDate" name="endDate"  value="<?php echo date('Y-m-d'); ?>">
            <button id="applyDateRange" class="applyDateRange">Apply</button>
        </div>

        <select id="timeRange">
            <!-- <option>Select</option> -->
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
            <option value="yearly">Yearly</option>
            <!-- <option value="alltime">All Time</option> -->
        </select>

        <div class="cards-container">
            <div class="card profit">
                    <h2 id="totalDailyProfit"></h2>
                    <h3>Profit</h3>
            </div>
            <div class="card income">
                <h2 id="totalDailyIncome"></h2>
                <h3>Income</h3>
            </div>
            <div class="card expense">
                <h2 id="totalDailyExpense"></h2>
                <h3>Expense</h3>
            </div>
        </div>
    </div>
    <div class="shop-heading-container">
        <h3 class="shop-heading">Shops</h3>
        <!-- <img class="add-shop" src="/images/plus.png" alt="add Shop"> -->
        <img class="add-shop" src="/images/plus.png" alt="add Shop" id="addShopBtn">
    </div>
    <div class="shop-row" id="shopRow">
       
    </div>
    <footer class="footer">
        <div class="footer__container">
            <div class="footer__center">
                <span class="footer__name">&#169; 2023 Made with</span>
                <span class="footer__heart"><img src="/images/sugar-cane.png"></span>
            </div>
        </div>
    </footer>
    
    <!-- The Modal -->
    <div class="modal" id="addShopModal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <h2>Add Shop</h2>
            <form class="create-shop">
                <label for="shopName">Shop Name:</label>
                <input type="text" id="shopName" required>
    
                <label for="address">Address:</label>
                <input type="text" id="address" required>
    
                <label for="contact">Contact Information:</label>
                <input type="text" id="contactInformation" required>
    
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <script src="/js/axios.min.js"></script>
    <script src="/js/sweetalert.min.js"></script>
    <script src="/js/dashboard.js"></script>
</body>
</html>

</html>



