<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com-->
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>MoneySquare</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/home.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img src="/images/remote2.png" alt="">
            </div>
        </div>
        <div class="forms">
            <div class="sugarcaneco">
                <img class='sugarcaneco-img' src="/images/sugarcaneco.png">
            </div>
            <div class="form-content">
                <div class="signup-form">
                    <div class="title">Signup</div>
                    <form class=".signup-form">
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i>
                                <input id="name" type="text" placeholder="Enter your name" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-phone fa-rotate-90"></i>
                                <input id="signupPhoneNumber" type="text" placeholder="Your phone number" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input id="signupPassword"  type="password" placeholder="Enter your password" required>
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i>
                                <input id="signupConfirmPassword"  type="password" placeholder="Confirm password" required>
                            </div>
                            <div class="button input-box">
                                <input type="submit" value="Sumbit" id="submitButton">
                            </div>
                            <div class="text sign-up-text">Already have an account? <a href="/">Login
                                    now</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"
    integrity="sha512-zJYu9ICC+mWF3+dJ4QC34N9RA0OVS1XtPbnf6oXlvGrLGNB8egsEzu/5wgG90I61hOOKvcywoLzwNmPqGAdATA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/config.js"></script>
<script src="/js/signup.js"></script>
</html>