body {
    font-family: Arial, sans-serif;
    background-color: #EEEEEE;
    color: #333;
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: #fff;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.navbar__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.navbar__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__name {
    color: #444444;
    font-size: 24px;
    font-weight: bold;
    margin-left: 8rem;
}

h1 {
    text-align: center;
    margin-top: 30px;
}



.applyDateRange{
    margin-left: 5px;
    background-color: #444;
}


.containerr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

/* vendor register button */
.registration-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: -2rem;
}

.registration-button {
    flex-direction: row;
    padding: 15px 50px;
    margin: 10px;
    border: none;
    border-radius: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #444444;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
}

.registration-button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}


.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    margin: 0 15px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    color: #fff;
}

.card h3 {
    color: #fff;
}


/* Drop Down */
.select-timerange {
     appearance: none;
     -webkit-appearance: none;
     -moz-appearance: none;
     background: none;
     border: none;
     outline: none;
     padding: 12px 30px;
     font-size: 16px;
     color: #fff;
     font-weight: bold;
     margin-top: 50px;
     text-align: center;
     border-radius: 8px;
     background-color: #F3AA60;;
     cursor: pointer;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

 /* Custom styles for the select dropdown arrow */
 select::-ms-expand {
     display: none;
 }

 select::after {
     content: "\25BC";
     position: absolute;
     right: 12px;
     top: 50%;
     transform: translateY(-50%);
     pointer-events: none;
 }

 /* Style the options */
 option {
    background-color: #fff;
    color: #333;
    text-align: left;
    /* padding: 8px; */
 }

 /* Hover effect on options */
 option:hover {
    background-color: #f9f9f9;
 }

 /* Style the selected option */
 option:checked {
    background-color: #007bff;
    color: #fff;
 }

 /* Remove default focus outline on select element */
 select:focus {
     outline: none;
 }

 /* Create a fancy border for the select */
 .custom-select {
     position: relative;
     display: inline-block;
     border: 2px solid #007bff;
     border-radius: 8px;
     overflow: hidden;
 }


.shop-row {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.shop-card {
    width: calc(25.33% - 30px);
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

/* Optional: Add some space between the cards */
.shop-card:not(:nth-child(3n)) {
    margin-right: 20px;
}


.shop-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.shop-card h2 {
    color: #555;
    margin-bottom: 10px;
    
}

.shop-card p {
    color: #777;
    margin-bottom: 5px;
}

.card.profit {
    background-color: #50CD89;;
    /* Light green */
}

.card.income {
    background-color: #009EF7;;
    /* Light red */
}

.card.expense {
    background-color: #F1416C;;
    /* Light blue */
}
.shop-card button {
    background-color: #61677A;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin: 10px auto;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.shop-card button:hover {
    background-color: #0056b3;
}

.shop-card button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.shop-card button:active {
    background-color: #004080;
}


.shop-heading-container {
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
    color: #444;
}

div.shop-heading-container::after {
    content: '';
    display: block;
    clear: both;
}

.shop-heading {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 48rem
}

.add-shop {
    margin-right: 8rem;
    float: right;
    cursor: pointer;
}

.add-shop:hover {
    transform: scale(1.1);
}


/* Styles for the responsive footer */
.footer {
    background-color: #f9f9f9;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.footer__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__name {
    color: #333;
    font-size: 18px;
}

.footer__heart {
    font-size: 18px;
    margin-left: 5px;
}


/* Style for modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    position: relative;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 16px;
    font-weight: bold;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}






/* Vendor modal styling */
.vendor-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.vendor-modal-content {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 400px;
    position: relative;
}

#vendorForm {
    display: grid;
    gap: 15px;
}

#vendorForm input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

/* mobile */

@media (max-width: 480px) {

    .navbar {
            background-color: #fff;
            /* background-color: #272829; */
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            width:55rem
        }

        .navbar__container {
            width: 100%;
            padding: 20px 20px;
        }
    
        .navbar__center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .navbar__name {
            color: #444444;
            font-size: 55px;
            font-weight: bold;
        }
    
        h1 {
            text-align: center;
            margin-top: 30px;
        }

        /* vendor register button */
        .registration-buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 1rem;
            margin-bottom: -2rem;
        }

        .registration-button {
            flex-direction: row;
            padding: 20px 50px;
            margin: 10px;
            border: none;
            border-radius: 30px;
            text-align: center;
            font-size: 35px;
            font-weight: bold;
            color: #fff;
            background-color: #444444;
            text-decoration: none;
            transition: background-color 0.3s, transform 0.2s;
        }

        .registration-button:hover {
            background-color: #2980b9;
            transform: scale(1.05);
        }

        .applyDateRange{
            margin-left: 10px;
            background-color: #444;
        }

        .select-period{
            margin-left: 20px;
            flex-direction: column;
        }

        .select-period label,input,button{
            font-size: 32px;
        }


        .containerr {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 50px auto;
            width:55rem
        }

        .select-timerange {
            font-size: 35px;
            padding: 20px 30px;
        }

        option {
            font-size: 15px;
        }
    
        .cards-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            width:40rem
        }
    
        .card {
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            padding: 30px 20px;
            width:40rem;
            margin: 0 15px;
            text-align: center;
            margin-bottom: 1rem;
            transition: transform 0.3s ease;
        }
    
        .card:hover {
            transform: scale(1.05);
        }
    
        .card h2 {
            font-size: 40px;
            color: #fff;
        }
    
        .card h3 {
            font-size: 40px;
            color: #fff;
        }

        /* shop heading and add shop icon */
        .shop-heading-container {
            text-align: center;
            margin-top: 30px;
            font-size: 45px;
            color: #444;
            width:55rem;
        }
    
        div.shop-heading-container::after {
            content: '';
            display: block;
            clear: both;
        }
    
        .shop-heading {
            margin-right: 35rem;
            
        }
    
        .add-shop {
            margin-top: 0.4rem;
            margin-right: 3rem;
            float: right;
            cursor: pointer;
            width:3rem
        }

        
        .shop-row {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            width: 55rem;
        }

        .shop-card {
            width: calc(80.33% - 30px);
            margin-bottom: 20px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 30px;
            padding:40px 20px;
            text-align: center;
            transition: transform 0.3s ease;
        }

                
        .shop-image {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            object-fit: cover;
            margin-top: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .shop-card h2 {
            margin-top: 0rem;
            color: #555;
            font-size: 50px;
            
        }

        .shop-card p {
            margin-top: 0rem;
            color: #777;
            font-size: 40px;
        }

        .shop-card button {
            background-color: #61677A;
            color: #fff;
            border: none;
            border-radius: 15px;
            margin: 10px auto;
            padding: 20px 30px;
            font-size: 40px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        /* footer */

        .footer {
            width: 55rem;
        }

        .footer__name {
            color: #333;
            font-size: 35px;
        }

        .footer__heart {
            font-size: 35px;
            margin-left: 5px;
        }


        /* create shop modal */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            background-color: rgba(0, 0, 0, 0.4);
        }
    
        .modal-content {
            background-color: #fff;
            margin: 10% auto;
            padding: 40px 100px;
            border: 1px solid #888;
            width: 60rem;
            border-radius: 8px;
            position: relative;
        }

        .modal-content h2{
            font-size: 60px;
        }
    
        .close {
            color: #aaa;
            font-size: 60px;
            font-weight: bold;
            position: absolute;
            top: 30px;
            right: 30px;
            cursor: pointer;
        }
    
        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    
        label {
            font-size: 40px;
            font-weight: lighter;
        }
    
        input {
            padding: 20px;
            border: 1px solid #444444;
            border-radius: 4px;
            font-size: 40px;
        }
    
        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            margin-top: 20px;
            margin-bottom: 30px;
            padding: 20px 20px;
            font-size: 35px;
            border-radius: 4px;
            cursor: pointer;
        }

        /* Vendor modal styling */
        .vendor-modal {
            display: none;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                background-color: rgba(0, 0, 0, 0.4);
        }
    
        .vendor-modal-content {
            background-color: #fff;
            margin: 10% auto;
            padding: 40px 100px;
            border: 1px solid #888;
            width: 30rem;
            border-radius: 8px;
            position: relative;
        }

        .vendor-modal-content>h2{
            font-size: 60px;
        }
    
        #vendorForm {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    
        #vendorForm input {
            padding: 20px 0px;
            border: 1px solid #444444;
            border-radius: 4px;
            font-size: 40px;
        }

}


@media (max-width: 768px) and (min-width: 481px) {

    .navbar {
            background-color: #fff;
            /* background-color: #272829; */
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            width: 55rem
        }
    
        .navbar__container {
            width: 100%;
            padding: 20px 20px;
        }
    
        .navbar__center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .navbar__name {
            color: #444444;
            font-size: 35px;
            font-weight: bold;
        }
    
        h1 {
            text-align: center;
            margin-top: 30px;
        }
    
        .applyDateRange {
            margin-left: 10px;
            background-color: #444;
        }
    
        .select-period {
            margin-left: 20px;
            flex-direction: column;
        }
    
        .select-period label,
        input,
        button {
            font-size: 20px;
        }
    
        .containerr {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 50px auto;
            width: 55rem
        }
    
        .select-timerange {
            font-size: 20px;
        }
    
        option {
            font-size: 15px;
        }
    
        .cards-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            width: 40rem
        }
    
        .card {
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            padding: 20px 20px;
            width: 40rem;
            margin: 0 15px;
            text-align: center;
            margin-bottom: 1rem;
            transition: transform 0.3s ease;
        }
    
        .card:hover {
            transform: scale(1.05);
        }
    
        .card h2 {
            font-size: 30px;
            color: #fff;
        }
    
        .card h3 {
            font-size: 25px;
            color: #fff;
        }
    
        /* shop heading and add shop icon */
    
        .shop-heading-container {
            text-align: center;
            margin-top: 30px;
            font-size: 30px;
            color: #444;
            width: 55rem;
        }
    
        div.shop-heading-container::after {
            content: '';
            display: block;
            clear: both;
        }
    
        .shop-heading {
            margin-right: 35rem;
    
        }
    
        .add-shop {
            margin-top: 0.4rem;
            margin-right: 3rem;
            float: right;
            cursor: pointer;
            width: 2rem
        }
    
    
        .shop-row {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            width: 55rem;
        }
    
        .shop-card {
            width: calc(43.33% - 30px);
            margin-bottom: 20px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            padding: 20px;
            margin-left: 1rem;
            text-align: center;
            transition: transform 0.3s ease;
        }
    
    
        .shop-image {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            margin-top: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    
        .shop-card h2 {
            margin-top: 0rem;
            color: #555;
            font-size: 30px;
    
        }
    
        .shop-card p {
            margin-top: 0rem;
            color: #777;
            font-size: 20px;
        }
    
        .shop-card button {
            background-color: #61677A;
            color: #fff;
            border: none;
            border-radius: 4px;
            margin: 10px auto;
            padding: 12px 24px;
            font-size: 20px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
    
        /* footer */
    
        .footer {
            width: 55rem;
        }
    
        .footer__name {
            color: #333;
            font-size: 20px;
        }
    
        .footer__heart {
            font-size: 20px;
            margin-left: 5px;
        }
    
}
