body{
    font-family: 'Montserrat', sans-serif;
}


.employee-card {
    display: flex;
    margin-top: 1rem;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}


.profile-photo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #FF0060;
}

.profile-photo img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.profile-details {
    flex: 2;
    padding: 20px;
    background-color: #FF0060;
}

.employeEditButton{
    background-color: #FF0060;
}

.employeEditButtonImg{
    margin-top: 1rem;
    margin-right: 1rem;
}

.pd{
    display: flex;
}
.pd1{
    width: 50%;
}
.pd2{
    width: 50%;
}

.profile-details h2 {
    margin-top: 0;
    font-size: 24px;
    color: #fff;
}

.profile-details p {
    margin: 10px 0;
    font-size: 16px;
    color: #fff;
}

.profile-details p strong {
    color: #fff;
    margin-right: 3px;
}

@media (max-width: 768px) {
    .employee-card {
        flex-direction: column;
    }

    .profile-photo {
        padding: 20px 0;
        text-align: center;
    }

    .profile-details {
        flex: 1;
    }
}

.container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    width: 100%;
}

  .filterVendorExpensetable {
      background-color: #f2f2f2;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      text-align: center;
  }

  .filterVendorExpensetable h1 {
      font-size: 24px;
      color: #333;
      margin-bottom: 20px;
  }

  .filterVendorExpensetable select,
  .filterVendorExpensetable input[type="date"] {
      padding: 10px;
      margin: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      outline: none;
  }

  .filterVendorExpensetable select.filterBillNumber {
      width: 20%;
  }

  .filterVendorExpensetable select.filter-paymentStatus,
  .filterVendorExpensetable select.filterBillNumber {
      width: 20%;
  }

  .filterVendorExpensetable label {
      font-size: 18px;
      color: #333;
      margin-right: 0px;
  }

  .filterVendorExpensetable button {
      background-color: #3498db;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      margin: 5px;
  }

  .filterVendorExpensetable button.clearVendorExpense {
      background-color: #e74c3c;
  }

  .filterVendorExpensetable button:hover {
      background-color: #2582b0;
  }


.table-container {
    max-height: 400px;
    overflow-y: auto;
    border-top: 1px solid #ccc;
    width: 100%;
}

.employee-expense-table {
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    width:100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f7f7f7;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.edit-button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #3498DB;
    color: #fff;
    transition: background-color 0.3s;
}

.delete-button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #E74C3C;
    color: #fff;
    transition: background-color 0.3s;
}

button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}


/* update employee modal */
.employee-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.employee-modal-content {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 100%;
    height: 100%;
    position: relative;
}

.shopNameIncomeModal {
    width: 84%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.closeUpdateEmpModal {
    position: absolute;
    top: 8%;
    right: 3%;
    font-size: 35px;
    color: #999;
    cursor: pointer;
    font-weight: bold;
}

.employee-modal-content h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

#employeeFormm {
    display: grid;
    gap: 15px;
}

label {
    margin-top: 1rem;
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

#employeeFormm input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.empAndShopName {
    display: flex;
}

.empAndShopName1 {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    width: 50%;
}

.empAndShopName2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.AddAndNumber {
    display: flex;
}

.AddAndNumber1 {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    width: 50%;
}

.AddAndNumber2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.dateAndSalary {
    display: flex;
}

.dateAndSalary1 {
    display: flex;
    margin-left: 4rem;
    flex-direction: column;
    width: 50%;
}

.dateAndSalary2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.employeeModalButton {
    display: flex;
    margin: 0 auto;
}

.employee-modal button[type="submit"] {
    /* justify-content: center; */
    background-color: #007bff;
    color: #fff;
    border: none;
    width: 100%;
    margin-top: 3rem;
    border-radius: 5px;
    padding: 10px 80px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}




/* Employee Expense Modal */
.employee-expense-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.3s ease;
}

.employee-expense-modal-content {
    background-color: #fcfcfc;
    padding: 20px 25px;
    position: relative;
    text-align: center;
    height: 100%;
}

.close {
    color: #aaa;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: #666;
}

.employee-expense-modal h2 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #333;
}

.salAndExpDate {
    display: flex;
}

.salAndExpDate1 {
    width: 50%;
}

.salAndExpDate2 {
    width: 50%;
}

.monthSalAndPayment {
    display: flex;
}

.monthSalAndPayment1 {
    width: 50%;
}

.monthSalAndPayment2 {
    width: 50%;
}

.whichMonthsalary {
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    width: 35%;
}

.date-range-container .formTo {
    margin-top: 0px;
    margin-left: 0px;
}

.dexsc {
    width: 50%;
}


.select-paymentStatus {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px 16px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #333;
    width: 85%;
    margin-left: -1.8rem;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.select-paymentStatus:focus {
    outline: none;
    background-color: #fff;
}

/* Style for the individual options */
.option-paymentStatus {
    background-color: #fff;
    color: #333;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.option-paymentStatus:hover {
    background-color: #6c63ff;
    color: #fff;
}

.update-employee-expense-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 30px;
    color: #555;
    text-align: left;
}

.update-employee-expense-form input[type="text"],
.update-employee-expense-form input[type="number"],
.update-employee-expense-form input[type="date"],
.update-employee-expense-form textarea {
    width: 80%;
    padding: 10px 15px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin-right: 35px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}



.update-employee-expense-form input[type="text"]:focus,
.update-employee-expense-form input[type="number"]:focus,
.update-employee-expense-form input[type="date"]:focus,
.update-employee-expense-form textarea:focus {
    border-color: #3498db;
}

.submit-button{
    padding: 10px 20px;
    font-size: 16px;
}

.employee-expense-form button.submit-button {
    background-color: #3498db;
    border: none;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    padding: 15px 25px;
    transition: background-color 0.3s ease;
}

.employee-expense-form button.submit-button:hover {
    background-color: #2980b9;
}

/* Media query for responsiveness */
@media screen and (max-width: 600px) {
    .employee-expense-modal-content {
        max-width: 90%;
    }
}


.homeAndGoogle {
    display: flex;
}

.homeAndGoogle1 {
    width: 50%;
}

.homeAndGoogle2 {
    width: 50%;
}

.homelogo {
    font-size: 10px;
    margin-top: 7px;
    margin-right: 0.5rem;
    float: right;
}

.google-translator {
    margin-left: 10px;
}

/* monlthly salary range modal */

.date-range-container {
    display: flex;
    align-items: center;
}

.date-range-container select {
    padding: 10px;
    font-size: 16px;
}

.date-range-container label {
    margin-right: 10px;
}